@model List<MovieDB.Entities.Movie>
@{
    ViewData["Title"] = "List Movies";
}
<div class="jumbotron text-center">
    <h1 class="display-5">@ViewData["Title"]</h1>
    <p class="lead">You can list your movies here.</p>
    <hr class="my-4">
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Producer</th>
                <th>Director</th>
                <th>MusicDirector</th>
                <th>ProduceIn</th>
                <th></th>
   
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@movie.Title</td>
                    <td>@movie.Producer</td>
                    <td>@movie.Director</td>
                    <td>@movie.MusicDirector</td>
                    <td>@movie.ProduceIn</td>
                    <td><a class="btn btn-primary" asp-area="" asp-controller="" asp-action="">Details</a>
                        <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="UpdateMovie">Update</a>
                    <a class="btn btn-danger" asp-area="" asp-controller="" asp-action="">Remove</a></td>
                </tr>
            }
        </tbody>
    </table>

</div>