@model MovieDB.Entities.User
@{
    ViewData["Title"] = "Edit Profile";
}

<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h1>


    </div>

</div>
<div class="row">
    <center>
        <div class=" col-4 mt-4 center">
            <div class="mb-4 ">
                <div asp-validation-summary="All" class="text-danger small"></div>
            </div>
            <form method="post" asp-action="UpdateProfileEmail">
                <div class="form-group">
                    <label class="form-label">Email</label>
                    <div class="input-group mb-3">

                        <input name="email" type="text" class="form-control" placeholder="@Model.email" value="@Model.email" />
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Save</button>

                    </div>
                    @if (ViewData["result"] != null && ViewData["result"] == "EmailChanged")
                    {
                        <span class="text-success">Email Updated</span>
                    }
                </div>
            </form>

            <form method="post" asp-action="UpdateProfileName">
                <div class="form-group">
                    <label class="form-label mt-3">Name Surname</label>
                    <div class="input-group mb-3 ">

                        <input input name="name" type="text" class="form-control" placeholder="@Model.FullName" value="@Model.FullName" />
                        <button class="btn btn-outline-secondary" type="submit">Save</button>

                    </div>
                    @if (ViewData["result"] != null && ViewData["result"] == "NameChanged")
                    {
                        <span class="text-success">Name Updated</span>
                    }
                </div>
            </form>

            <form method="post" asp-action="UpdateProfilePassword">
                <div class="form-group">
                    <label class="form-label mt-3">New Password</label>
                    <div class="input-group mb-3 ">

                        <input name="password" type="password" class="form-control" placeholder="New Password" />
                        <button class="btn btn-outline-secondary" type="submit">Save</button>

                    </div>
                    @if (ViewData["result"] != null && ViewData["result"] == "PasswordChanged")
                    {
                        <span class="text-success">Password Updated</span>
                    }
                </div>
            </form>
            <form method="post" asp-action="UpdateProfileRole">
                <div class="form-group d-flex align-items-center justify-content-center">
                    <div class="text-center">
                        <label class="form-label mt-3">Role Is Administrator</label>
                    </div>
                    <div class="form-check">
                        <input name="role" class="form-check-input" type="checkbox" @(Model.Role == "admin" ? "checked" : "")>
                    </div>
                    <button class="btn btn-outline-secondary ms-auto" type="submit">Save</button>
                </div>
                @if (ViewData["result"] != null && ViewData["result"] == "RoleChanged")
                {
                    <span class="text-success">Role Updated</span>
                }
            </form>

            
    </center>

</div>