@model MovieDB.Models.MovieComments

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/css/site.css" rel="stylesheet" />
<script src="~/js/site.js"></script>
<div class="card">
    <div>
        <div class="details_image">
            <img src="data:image;base64,@Convert.ToBase64String(Model.Movie.Image)" alt="@Model.Movie.Title" class="movie-image" />
        </div>
        <div class="details_table">
            <h1 class="card-header mt-2">@Model.Movie.Title</h1>
            <table class ="table table-bordered mt-4">
                
                <tr>
                    <td>Actrisses: </td>
                    <td>@Model.Movie.Artists</td>
                </tr>
                <tr>
                    <td>Director:</td>
                    <td>@Model.Movie.Director</td>
                </tr>
                <tr>
                    <td>Category: </td>
                    <td>@Model.Movie.Type</td>
                </tr>
                <tr>
                    <td>Rate: </td>
                    <td>
                        <div class="col-md-7 d-flex flex-nowrap">
                            @{
                                int averageRate = 0;
                                foreach (var userRate in Model.UserRates)
                                {
                                    averageRate += userRate.Rate.RateNum;
                                }
                                if (Model.UserRates.Count != 0)
                                    averageRate /= Model.UserRates.Count;

                            }
                            @for (int rate = 0; rate < 5; rate++)
                            {
                                if (rate < averageRate)
                                {
                                    <span class="" data-value="">&#9733;</span>
                                }
                                else
                                {
                                    <span class="" data-value="">&#9734;</span>
                                }

                            }
                            <br />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Duration:</td>
                    <td>@Model.Movie.Hour hours @Model.Movie.Minute minutes</td>
                </tr>
                <tr>
                    <td>Year: </td>
                    <td>@Model.Movie.ProduceYear</td>
                </tr>
            </table>


        </div>
    </div>
    <div class="card card-body m-3" >
        <h4 class ="modal-header mb-3">Description</h4>
        <p>@Model.Movie.Description</p>
    </div>
    <button class="btn btn-secondary" onclick="goBack()">Go Back</button>

    </div>
<div class="card mt-4">

        <iframe width="100%" height="400" src="@Model.Movie.fragman " title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    
</div>
<div class="card mt-4">
    <div class="card card-body">
        <div style="float:left;"><h4 class="modal-header mb-3">Comments</h4></div>
        <div class ="col-md-7 d-flex flex-nowrap" style="float:left">
            <form id="rateForm" method="post" asp-action="AddRate" asp-controller="Movie">
                <input type="hidden" name="movieId" value="@Model.Movie.Id" />
                <div class="row">
                    <div class="col-md-5 d-flex flex-nowrap">
                        @{
                            int userRateValue = 0;
                            var theuserRate = Model.UserRates.FirstOrDefault(userRate => userRate.User.Id.ToString() == User.FindFirst("id")?.Value);

                            if (theuserRate != null)
                                userRateValue = theuserRate.Rate.RateNum;
                        }
                        @for (int rate = 1; rate <= 5; rate++)
                        {
                            if (rate <= userRateValue)
                            {
                                <input checked class="rateme" type="checkbox" id="star@(rate)" name="rating" value="@(rate)" onclick="selectStar(this)" />
                            }

                            else
                            {
                                <input class="star" type="checkbox" id="star@(rate)" name="rating" value="@(rate)" onclick="selectStar(this)" />
                            }
                        }
                    </div>
                    <br />
                    <br />
                </div>

            </form>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <form method="post" asp-action="AddComment" asp-controller="Movie">
                <input type="hidden" name="movieId" value="@Model.Movie.Id" />
                <div class="form-group">
                    <table class="table ">
                      
                            <tr>
                               <td style="width:90%;">
                            <textarea name="commentText" class="form-control" placeholder="Leave a comment" style="resize: none;"></textarea>
                            </td>

                            <td>
                            <button type="submit" class="btn btn-primary mt-2">Send</button>
                            </td>
                            </tr>

                    </table>
                    
                </div>
                
            </form>
        }
        else
        {
            <p>You must be <a href="@Url.Action("Login", "Account")">logged in</a> to post a comment.</p>
        }
        @foreach (var userComment in Model.UserComments)
        {
            <div class="card-body">
                <div class="card p-3 bg-light">
                    <h5 class="mt-0">@userComment.User.FullName</h5>
                    <table>
                        <tr>
                            <td style="width:90%;">
                                <p>@userComment.Comment.CommentText</p>
                            </td>
                            <td>
                                @if (User.FindFirst("id")?.Value == userComment.User.Id.ToString() || User.IsInRole("admin"))
                                {
                                    <a type="button" class="btn btn-danger btn-sm" asp-controller="Movie" asp-action="RemoveComment" asp-route-commentId="@userComment.Comment.Id">Remove</a>
                                }
                            </td>
                        </tr>

                    </table>

                    

                </div>
            </div>
        }



    </div>
</div>


<script>
    function toggleCommentArea(button) {
        var commentArea = button.closest('.card').querySelector('.comment-area');
        commentArea.style.display = commentArea.style.display === 'none' ? 'block' : 'none';
    }

    function toggleCommentsView(button) {
        var commentsView = button.closest('.card').querySelector('.comments-view');
        commentsView.style.display = commentsView.style.display === 'none' ? 'block' : 'none';
    }

    function selectStar(checkbox) {
        var star1 = document.getElementById("star1");
        var star2 = document.getElementById("star2");
        var star3 = document.getElementById("star3");
        var star4 = document.getElementById("star4");
        var star5 = document.getElementById("star5");

        if (checkbox.value == 1) {
            star1.checked = true;
            star2.checked = false;
            star3.checked = false;
            star4.checked = false;
            star5.checked = false;
        }

        else if (checkbox.value == 2) {
            star1.checked = true;
            star2.checked = true;
            star3.checked = false;
            star4.checked = false;
            star5.checked = false;
        }

        else if (checkbox.value == 3) {
            star1.checked = true;
            star2.checked = true;
            star3.checked = true;
            star4.checked = false;
            star5.checked = false;
        }

        else if (checkbox.value == 4) {
            star1.checked = true;
            star2.checked = true;
            star3.checked = true;
            star4.checked = true;
            star5.checked = false;
        }

        else if (checkbox.value == 5) {
            star1.checked = true;
            star2.checked = true;
            star3.checked = true;
            star4.checked = true;
            star5.checked = true;
        }

        var form = document.getElementById('rateForm');
        form.submit();


    }



</script>
