@model List<MovieComments>
@{
    ViewData["Title"] = "Movies";
}


<link href="~/css/site.css" rel="stylesheet" />
<script src="~/js/site.js"></script>
<div>
<form method="post" asp-action="SearchMovie" asp-controller="Movie">
    <div class="row mb-3">
        <div class="col-4">
            <input name="searchText" class="form-control me-2" type="search" placeholder="Search..." aria-label="Search">
        </div>
        <div class="col-8">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </div>
</form>
</div>
@{
    int count = 0;
}
@foreach (var movieComments in Model)
{
    count++;
    <div class="card mb-3 p-2 m-2" style="max-width: 540px;float:left;">
        <div class="row g-0" >
            <div class="col-md-4 ">
                <img style="width: 100%;  object-fit: cover;" src="@Url.Action("GetImage", new { movieId = movieComments.Movie.Id })" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@movieComments.Movie.Title</h5>


                    <div class="row">
                        <div class="col-md-5">
                            <label class="form-label">Avarage Rate</label>
                        </div>
                        <div class="col-md-7 d-flex flex-nowrap">
                           
                            @{
                                int averageRate = 0;
                                foreach(var userRate in movieComments.UserRates)
                                {
                                    averageRate += userRate.Rate.RateNum;
                                }
                                if (movieComments.UserRates.Count != 0)
                                    averageRate /= movieComments.UserRates.Count;

                            }
                            @for (int rate = 0; rate < 5; rate++)
                            {
                                if (rate < averageRate)
                                {
                                    <span class="" data-value="">&#9733;</span>
                                }
                                else
                                {
                                    <span class="" data-value="">&#9734;</span>
                                }  
                                
                            }
                            <br/>
                        </div>
                    </div>
                    <label class="card-text">@movieComments.Movie.Artists</label>
                    <div style="margin-bottom:5px;margin-top:5px;"><label class="card-text"><small class="text-muted">@movieComments.Movie.ProduceYear</small></label>
                    </div>
                    <label class="card-text">Give Your Rate!</label>
                <div style="margin-top:-20px; margin-left:-17px">
                    <form id="rateForm@(count)" method="post" asp-action="AddRate" asp-controller="Movie">
                        <input type="hidden" name="movieId" value="@movieComments.Movie.Id" />
                        <div class="row" style="width:120px">
                            <div class="col-md-5 d-flex flex-nowrap">
                               
                                @{
                                    int userRateValue = 0;
                                    var theuserRate = movieComments.UserRates.FirstOrDefault(userRate => userRate.User.Id.ToString() == User.FindFirst("id")?.Value);

                                    if (theuserRate != null)
                                        userRateValue = theuserRate.Rate.RateNum;
                                }
                                
                                @for (int rate = 1; rate <= 5; rate++)
                                {
                                    if (rate <= userRateValue)
                                    {
                                        <input checked class="star" type="checkbox" id="@(count)star@(rate)" name="rating" value="@(rate)" onclick="selectStar(this, '@(count)')" />
                                    }

                                    else
                                    {
                                        <input class="star" type="checkbox" id="@(count)star@(rate)" name="rating" value="@(rate)" onclick="selectStar(this, '@(count)')" />
                                    }
                                }
                            </div>
                            <br/>
                            <br />
                        </div>

                    </form>
                    </div>

                    <a class="me-1" href="#" onclick="toggleCommentArea(this); return false;" style="text-decoration: none;">Add Comment</a>
                    <a class="ms-1 me-1" href="#" onclick="toggleCommentsView(this); return false;" style="text-decoration: none;">View Comments</a>
                    <a class="ms-1" href="@Url.Action("Details", "Movie", new { movieId = movieComments.Movie.Id })" style="text-decoration: none;">Details</a>

                    <a data-bs-target="#detailsModal" style="text-decoration: none;" data-movie-title="@movieComments.Movie.Title"
                       data-movie-artists="@movieComments.Movie.Artists" data-movie-director="@movieComments.Movie.Director"
                       data-movie-type="@movieComments.Movie.Type" data-movie-image-url="@Url.Action("GetImage", new { movieId = movieComments.Movie.Id })"
                       data-movie-description="@movieComments.Movie.Description" data-movie-produce-year="@movieComments.Movie.ProduceYear"
                       data-movie-rate="@movieComments.Movie.Rate" data-movie-hour="@movieComments.Movie.Hour"
                       data-movie-minute="@movieComments.Movie.Minute">
                    </a>
                </div>
            </div>
        </div>

        <div class="row g-0 comments-view" style="display: none;">
            @foreach (var userComment in movieComments.UserComments)
            {
                <div class="row g-0">
                    <div class="col-2">
                        <p>@userComment.User.FullName</p>
                    </div>
                    <div class="col-9">
                        <textarea class="ps-2" disabled style="width: 100%; resize: none;">@userComment.Comment.CommentText</textarea>
                    </div>
                    <div class="col-1 d-flex justify-content-end">
                        @if (@User.FindFirst("id")?.Value == userComment.User.Id.ToString() || User.IsInRole("admin"))
                        {
                            <a type="button" class="btn btn-danger" style="width: 30px; height: 30px; padding: 0px" asp-controller="Movie" asp-action="RemoveComment" asp-route-commentId="@userComment.Comment.Id">x</a>
                        }
                    </div>
                </div>
            }
        </div>

        <div class="row g-0 comment-area" style="display: none;">
            <form method="post" asp-action="AddComment" asp-controller="Movie">
                <input type="hidden" name="movieId" value="@movieComments.Movie.Id" />
                <textarea name="commentText" class="form-control" placeholder="Leave a comment here" style="height: 100px; resize: none;"></textarea>
                <button type="submit" class="btn btn-primary mt-2">Send</button>
            </form>
        </div>

    </div>
}

<script>
    function toggleCommentArea(button) {
        var commentArea = button.closest('.card').querySelector('.comment-area');
        commentArea.style.display = commentArea.style.display === 'none' ? 'block' : 'none';
    }

    function toggleCommentsView(button) {
        var commentsView = button.closest('.card').querySelector('.comments-view');
        commentsView.style.display = commentsView.style.display === 'none' ? 'block' : 'none';
    }

    function selectStar(checkbox, count)
    {
        var star1 = document.getElementById(count + "star1");
        var star2 = document.getElementById(count + "star2");
        var star3 = document.getElementById(count + "star3");
        var star4 = document.getElementById(count + "star4");
        var star5 = document.getElementById(count + "star5");

        if(checkbox.value == 1)
        {
            star1.checked = true;
            star2.checked = false;
            star3.checked = false;
            star4.checked = false;
            star5.checked = false;
        }

        else if(checkbox.value == 2)
        {
            star1.checked = true;
            star2.checked = true;
            star3.checked = false;
            star4.checked = false;
            star5.checked = false;
        }

        else if (checkbox.value == 3) {
            star1.checked = true;
            star2.checked = true;
            star3.checked = true;
            star4.checked = false;
            star5.checked = false;
        }

        else if (checkbox.value == 4) {
            star1.checked = true;
            star2.checked = true;
            star3.checked = true;
            star4.checked = true;
            star5.checked = false;
        }

        else if(checkbox.value == 5)
        {
            star1.checked = true;
            star2.checked = true;
            star3.checked = true;
            star4.checked = true;
            star5.checked = true;
        }

        var form = document.getElementById("rateForm" + count);
        form.submit();


    }



</script>
