@model List<MovieComments>
@{
    ViewData["Title"] = "Movies";
}

<form method="post" asp-action="SearchMovie" asp-controller="Movie">
    <div class="row mb-3">
        <div class="col-4">
            <input name="searchText" class="form-control me-2" type="search" placeholder="Search..." aria-label="Search">
        </div>
        <div class="col-8">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </div>
</form>

@foreach(var movieComments in Model)
{
    <div class="card mb-3 p-2" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img style="width: 100%; height: 150px; object-fit: cover;" src="@Url.Action("GetImage", new { movieId = movieComments.Movie.Id })" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@movieComments.Movie.Title</h5>
                    <p class="card-text">@movieComments.Movie.Description</p>
                    <p class="card-text"><small class="text-muted">@movieComments.Movie.ProduceYear</small></p>
                    <a class="me-1" href="#" onclick="toggleCommentArea(this); return false;" style="text-decoration: none;">Add Comment</a>
                    <a class="ms-1 me-1" href="#" onclick="toggleCommentsView(this); return false;" style="text-decoration: none;">View Comments</a>
                    <a class="ms-1" href="#" onclick="openModal(this); return false;" data-bs-toggle="modal"
                       data-bs-target="#detailsModal" style="text-decoration: none;" data-movie-title="@movieComments.Movie.Title" 
                       data-movie-Type="@movieComments.Movie.Type" data-movie-image-url="@Url.Action("GetImage", new { movieId = movieComments.Movie.Id })" 
                    data-movie-description="@movieComments.Movie.Description" data-movie-produce-year="@movieComments.Movie.ProduceYear">
                    Details
                    </a>
                </div>
            </div>
        </div>

        <div class="row g-0 comments-view" style="display: none;">
            @foreach (var userComment in movieComments.UserComments)
            {
                <div class="row g-0">
                    <div class="col-2">
                        <p>@userComment.User.FullName</p>
                    </div>
                    <div class="col-9">
                        <textarea class="ps-2" disabled style="width: 100%; height: 50px; resize: none;">@userComment.Comment.CommentText</textarea>
                    </div>
                    <div class="col-1 d-flex justify-content-end">
                        @if (@User.FindFirst("id")?.Value == userComment.User.Id.ToString())
                        {
                             <a type="button" class="btn btn-danger" style="width: 30px; height: 30px; padding: 0px" asp-controller="Movie" asp-action="RemoveComment" asp-route-commentId="@userComment.Comment.Id">x</a>
                        }
                    </div>
                </div>
            }
        </div>

        <div class="row g-0 comment-area" style="display: none;">
            <form method="post" asp-action="AddComment" asp-controller="Movie">
                <input type="hidden" name="movieId" value="@movieComments.Movie.Id" />
                <textarea name="commentText" class="form-control" placeholder="Leave a comment here" style="height: 100px; resize: none;"></textarea>
                <button type="submit" class="btn btn-primary mt-2">Send</button>
            </form>
        </div>
        
    </div>
}

<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">Movie Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Content of the modal body -->
                <div class="row">
                    <div class="col-5">
                        <img id="modalMovieImage" style="width: 100%; height: 150px; object-fit: cover;" src="" alt="">
                    </div>
                    <div class="col-7">
                        <p id="modalMovieType"></p>
                        <p id="modalMovieProduceYear"></p>
                    </div>
                </div>
                <div class="row">
                    <p id="modalMovieDescription"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function toggleCommentArea(button) {
        var commentArea = button.closest('.card').querySelector('.comment-area');
        commentArea.style.display = commentArea.style.display === 'none' ? 'block' : 'none';
    }

    function toggleCommentsView(button) {
        var commentsView = button.closest('.card').querySelector('.comments-view');
        commentsView.style.display = commentsView.style.display === 'none' ? 'block' : 'none';
    }

    function openModal(link) {
        var modalTitle = document.getElementById('detailsModalLabel');
        var modalType = document.getElementById('modalMovieType');
        var modalImage = document.getElementById('modalMovieImage');
        var modalDescription = document.getElementById('modalMovieDescription');
        var modalProduceYear = document.getElementById('modalMovieProduceYear');

        var title = link.dataset.movieTitle;
        var type = link.dataset.movieType;
        var imageUrl = link.dataset.movieImageUrl;
        var description = link.dataset.movieDescription;
        var produceYear = link.dataset.movieProduceYear;

        modalTitle.textContent = title;
        modalType.textContent = type;
        modalImage.src = imageUrl;
        modalDescription.textContent = description;
        modalProduceYear.textContent = "Produce Year: " + produceYear;
    }

</script>
