@model List<MovieComments>
@{
    ViewData["Title"] = "Movies";
}

<form method="post" asp-action="SearchMovie" asp-controller="Movie">
    <div class="row mb-3">
        <div class="col-4">
            <input name="searchText" class="form-control me-2" type="search" placeholder="Search..." aria-label="Search">
        </div>
        <div class="col-8">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </div>
</form>

@foreach (var movieComments in Model)
{
    <div class="card mb-3 p-2" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img style="width: 100%; height: 150px; object-fit: cover;" src="@Url.Action("GetImage", new { movieId = movieComments.Movie.Id })" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@movieComments.Movie.Title</h5>
                    <p class="card-text">@movieComments.Movie.Description</p>
                    <p class="card-text"><small class="text-muted">@movieComments.Movie.ProduceYear</small></p>
                    <a class="me-1" href="#" onclick="toggleCommentArea(this); return false;" style="text-decoration: none;">Add Comment</a>
                    <a class="ms-1 me-1" href="#" onclick="toggleCommentsView(this); return false;" style="text-decoration: none;">View Comments</a>
                    <a class="ms-1" href="@Url.Action("Details", "Movie", new { movieId = movieComments.Movie.Id })">Details</a>

                    <a data-bs-target="#detailsModal" style="text-decoration: none;" data-movie-title="@movieComments.Movie.Title"
                       data-movie-artists="@movieComments.Movie.Artists" data-movie-director="@movieComments.Movie.Director"
                       data-movie-type="@movieComments.Movie.Type" data-movie-image-url="@Url.Action("GetImage", new { movieId = movieComments.Movie.Id })"
                       data-movie-description="@movieComments.Movie.Description" data-movie-produce-year="@movieComments.Movie.ProduceYear"
                       data-movie-rate="@movieComments.Movie.Rate" data-movie-hour="@movieComments.Movie.Hour"
                       data-movie-minute="@movieComments.Movie.Minute">
                    </a>
                </div>
            </div>
        </div>

        <div class="row g-0 comments-view" style="display: none;">
            @foreach (var userComment in movieComments.UserComments)
            {
                <div class="row g-0">
                    <div class="col-2">
                        <p>@userComment.User.FullName</p>
                    </div>
                    <div class="col-9">
                        <textarea class="ps-2" disabled style="width: 100%; resize: none;">@userComment.Comment.CommentText</textarea>
                    </div>
                    <div class="col-1 d-flex justify-content-end">
                        @if (@User.FindFirst("id")?.Value == userComment.User.Id.ToString())
                        {
                            <a type="button" class="btn btn-danger" style="width: 30px; height: 30px; padding: 0px" asp-controller="Movie" asp-action="RemoveComment" asp-route-commentId="@userComment.Comment.Id">x</a>
                        }
                    </div>
                </div>
            }
        </div>

        <div class="row g-0 comment-area" style="display: none;">
            <form method="post" asp-action="AddComment" asp-controller="Movie">
                <input type="hidden" name="movieId" value="@movieComments.Movie.Id" />
                <textarea name="commentText" class="form-control" placeholder="Leave a comment here" style="height: 100px; resize: none;"></textarea>
                <button type="submit" class="btn btn-primary mt-2">Send</button>
            </form>
        </div>

    </div>
}

<script>
    function toggleCommentArea(button) {
        var commentArea = button.closest('.card').querySelector('.comment-area');
        commentArea.style.display = commentArea.style.display === 'none' ? 'block' : 'none';
    }

    function toggleCommentsView(button) {
        var commentsView = button.closest('.card').querySelector('.comments-view');
        commentsView.style.display = commentsView.style.display === 'none' ? 'block' : 'none';
    }



</script>
