@model MovieFilterViewModel
@{
    ViewData["Title"] = "Movie Database";
}

<link href="~/css/site.css" rel="stylesheet" />

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        @for (var i = 0; i < Model.MovieViewModel.Count; i++)
        {
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="@(i + 1)" aria-label="Slide @(i + 1)"></button>
        }
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
          
            <img src="~/images/movie.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
        <h1>Welcome Movie Database</h1>
                <p id="sliderslogan" class="text-white">You can find and look your movies which you search in this website .</p>
            <h5 class="text-white text-bold">Have Fun !</h5>
            </div>
        </div>
        @foreach (var movie in Model.MovieViewModel)
        {
            <div class="carousel-item">
                <a href="@Url.Action("Details", "Movie", new { movieId = movie.Id })"><img src="@Url.Action("GetImage", new { movieId = movie.Id })" class="d-block w-100" alt="..."></a>
                
                    
                <div class="carousel-caption d-none d-md-block">
                    <h1>@movie.Title</h1>
                       
                </div>
                    
               
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br />

<!-- Film Section-->
<div class="body">
    <!-- Filter Part, Left Side-->
    <div id="filter-div" class="card">

        <form method="POST">
            <div class="form-group">
                <label for="filterSearchText" class="font-weight-bold">Search Movie</label>
                <input type="text" name="filterSearchText" class="form-control" id="filterSearchText" placeholder="Search Movie" value="@Model.FilterViewModel.Search">

            </div>

            <div class="form-group">
                <label for="directorSearch" class="font-weight-bold">Search Director</label>
                <input type="text" name="directorSearch" class="form-control" id="directorSearch" placeholder="Search Director" value="@Model.FilterViewModel.DirectorSearch">

            </div>

            <div class="form-group">
                <label for="actorSearch" class="font-weight-bold">Search Artist</label>
                <input type="text" name="actorSearch" class="form-control" id="actorSearch" placeholder="Search Artist" value="@Model.FilterViewModel.ActorSearch">

            </div>

            <div class="form-group">
                <label for="Category" class="font-weight-bold">Category</label>
                <br />
                <select class="custom-select" name="Category">
                    <option value="All Categories">All Categories</option>
@foreach (string category in Model.FilterViewModel.AllCategories)
{
    if (category == Model.FilterViewModel.Category)
    {
                            <option selected value="@category">@category</option>
    }
    else
    {
                            <option value="@category">@category</option>
    }
}

                </select>
            </div>
            <div class="form-group">
                <label class="font-weight-bold">Rate</label>
                <br>
@for (int i = 1; i <= 5; i++)
{
    if (Model.FilterViewModel.Rates[i - 1])
    {
                        <div class="form-check form-check-inline" style="margin: 0px; padding: 0px">
                            <input checked class="star" type="checkbox" name="Rate" value="@i" id="Rate">
                            <label class="form-check-label" for="Rate@i">@i</label>
                        </div>
    }
    else
    {
                        <div class="form-check form-check-inline" style="margin: 0px; padding: 0px">
                            <input class="star" type="checkbox" name="Rate" value="@i" id="Rate">
                            <label class="form-check-label" for="Rate@i">@i</label>
                        </div>
    }
}

            </div>
            <br>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="ProduceYearMin" class="font-weight-bold">Produce Year</label>
                    <input type="text" class="form-control" name="ProduceYearMin" placeholder="min" value="@Model.FilterViewModel.ProduceYearMin">
                </div>
                <div class="form-group col-md-6">
                    <label for="ProduceYearMax">&nbsp;</label>
                    <input type="text" class="form-control" name="ProduceYearMax" placeholder="max" value="@Model.FilterViewModel.ProduceYearMax">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="MinuteMin" class="font-weight-bold">Minute</label>
                    <input type="text" class="form-control" name="MinuteMin" placeholder="min" value="@Model.FilterViewModel.MinuteMin">
                </div>
                <div class="form-group col-md-6">
                    <label for="MinuteMax">&nbsp;</label>
                    <input type="text" class="form-control" name="MinuteMax" placeholder="max" value="@Model.FilterViewModel.MinuteMax">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
    </div>

    <!-- Film List, Right Side -->
    <div id="film-list-div" class="card">
        <div class="row">
@for (int i = 0; i < 5; i++)
{
    @foreach (var movie in Model.MovieViewModel)
    {
                    <div class="col-md-3">
                        <div class="card" style="width:180px; height:330px;">
                            <a href="@Url.Action("Details", "Movie", new { movieId = movie.Id })">
                                <img class="card-img-top" src="@Url.Action("GetImage", new { movieId = movie.Id })" alt="@movie.Title" style="width:180px; height:280px">
                            </a>
                            <div class="card-body">
                                <h6 class="card-title" alt="@movie.Title" style="max-width: 150px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
                        @movie.Title
                                </h6>
                            </div>
                        </div>
                    </div>

    }
}


        </div>

    </div>

    </div>


